.bbp-calc__content {
  padding: 2%;
}
.bbp-calc__content h2,
.bbp-calc__content h4 {
  margin-top: 0;
  font: normal 12px Myriad Pro, Arial, sans-serif;
}
.bbp-calc__content h2 {
  font-size: 22px;
}
.bbp-calc__content h4 {
  font-size: 19px;
  color: #5396C5;
}
.bbp-calc__content p {
  color: #333;
}
.bbp-calc__content label { display: block; }
.bbp-calc__content img {
  border: none;
  max-width: 100%;
}
.bbp-calc__form select,
.bbp-calc__form input {
  border: 1px solid #a6c8e1;
  background: #e9f1f5;
}
.bbp-calc__form input:focus,
.bbp-calc__form textarea:focus,
.bbp-calc__form select:focus {
  outline: none;
}
.bbp-calc__form select {
  max-width: 100%;
  cursor: pointer;
}
.bbp-calc__btn {
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: 1px solid #a6c8e1;
  background: #e9f1f5;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.bbp-calc__btn:hover, .bbp-calc__btn:active {
  color: #0e83cd;
  background: #fff;
  border-color: #0e83cd;
}
.bbp-calc__disclaimer--title {
  text-decoration: underline;
  text-transform: uppercase;
}
.bbp-calc__content input[type='number'] {
  -moz-appearance:textfield;
}
.bbp-calc__content input[type=checkbox] {
  cursor: pointer;
  border: none;
  background: transparent;
}
.bbp-calc__content input::-webkit-outer-spin-button,
.bbp-calc__content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.js-group, .bbp-calc__result { display: none; }
.bbp-calc__result--text {
  display: none;
  text-align: center;
  font-weight: bold;
}
.bbp-calc__image {
  width: 70%;
  margin: 0 auto;
}
.bbp-calc__image p {
  text-align: center;
}
.bbp-calc__image img {
  margin: 0 auto;
  display: block;
}
.bbp-calc__error {
  display: none;
  padding: 0 10px;
  color: #c00;
}
@media print {
  body * {
    visibility: hidden;
  }
  body { margin: 0; background-image: none; font-size: 12pt; }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}